In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dataset_restaurantes.csv').drop(columns='Unnamed: 0')

In [3]:
dados.head()

,restaurante,nota,numero_de_avaliacoes,custo_para_dois,bairro,tipo_bar,tipo_cafe,tipo_casual,tipo_club,tipo_lounge,...,coz_suica,coz_sul_americana,coz_sumos,coz_sushi,coz_so_bebidas,coz_tailandesa,coz_tapas,coz_turca,coz_vegetariana,coz_arabe
0,A Figueira Rubaiyat,4.4,51.0,300.0,Jardim Paulista,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Terraço Itália,4.2,42.0,400.0,República,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Veloso,4.1,64.0,70.0,Vila Mariana,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Skye - Hotel Unique,4.0,63.0,300.0,"Hotel Unique, Jardim Paulista",0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,Coco Bambú,4.0,41.0,200.0,Itaim Bibi,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
dados.dtypes

restaurante              object
nota                    float64
numero_de_avaliacoes    float64
custo_para_dois         float64
bairro                   object
                         ...
coz_tailandesa            int64
coz_tapas                 int64
coz_turca                 int64
coz_vegetariana           int64
coz_arabe                 int64
Length: 95, dtype: object

In [7]:
dados = dados.query("nota == nota")
dados.tail()

,restaurante,nota,numero_de_avaliacoes,custo_para_dois,bairro,tipo_bar,tipo_cafe,tipo_casual,tipo_club,tipo_lounge,...,coz_suica,coz_sul_americana,coz_sumos,coz_sushi,coz_so_bebidas,coz_tailandesa,coz_tapas,coz_turca,coz_vegetariana,coz_arabe
761,Habib's,2.3,4.0,40.0,Jardim Paulista,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
762,Wall Street Bar,2.2,7.0,70.0,Itaim Bibi,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
763,Kanji,2.2,8.0,150.0,Moema,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
764,Numero,2.1,4.0,180.0,Jardim Paulista,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
765,Pain et Chocolat,2.1,4.0,80.0,Moema,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0